<!-- Errors -->
<% var errors = errors || '' %> <% if (errors.length >= 1) { %> <%
errors.forEach((error) => { %>
<div
  class="w-full min-h-8 rounded-lg mt-4 bg-error-light-2 text-white border border-CBCBCB text-sm flex items-center p-4 gap-1"
>
  <i class="ri-error-warning-line"></i>
  <%= error.msg %>
</div>
<% }) %> <% } %>
<!-- Error -->
<% if (errorMessage && errorMessage.length > 0) { %>
<div
  class="w-full min-h-8 rounded-lg mt-4 bg-error-light-2 text-white border border-CBCBCB text-sm flex items-center p-4 gap-1"
>
  <i class="ri-error-warning-line"></i>
  <%= errorMessage %>
</div>
<% } %>

<!--Success-->
<% if (successMessage && successMessage.length > 0) { %>
<div
  class="w-full min-h-8 rounded-lg mt-4 bg-success-light-2 text-success border border-CBCBCB text-sm flex items-center p-4 gap-1"
>
  <i class="ri-verified-badge-line"></i>
  <%= successMessage %>
</div>
<% } %>
