<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>هوش تجاری | <%= title %></title>

  <!-- Chartjs -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>

  <!-- Remixicon CDN -->
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
  />

  <!-- CSS Files -->
  <link rel="stylesheet" href="/css/output.css" />

  <!-- Datepicker -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css"
  />

  <!-- Fav icon -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="/favicon/site.webmanifest" />
</head>
