<!-- Sidebar -->
<aside
  class="w-full lg:w-64 bg-white p-4 shadow-lg flex flex-col items-center lg:block transition-all duration-300 ease-in-out"
>
  <div
    class="w-full text-sm font-bold text-center flex flex-col gap-2 items-center"
  >
    <div>
      <p class="text-202020">خوش آمدید</p>
      <% var user = user || '' %> <% if (user && user.email) { %>
      <span class="text-xs text-primary"><%= user.email %></span>
      <% } else { %> <% } %>
    </div>

    <% if (user && user.role) { %>
    <div class="w-min break-words p-1 bg-primary text-white rounded-lg">
      <span class="text-xs text-primary">
        <% if (user.role === 'user') { %>
        <span class="text-xs text-white"><%= 'کاربر' %></span>
        <% } else if (user.role === 'admin') { %>
        <span class="text-xs text-white"><%= 'ادمین' %></span>
        <% } else { %>
        <span class="text-xs text-white"><%= 'نقش نامعتبر است' %></span>
        <% } %>
      </span>
    </div>
    <% } else { %> <% } %>
  </div>

  <!-- Sidebar Links -->
  <ul class="space-y-4 flex flex-col gap-2 mt-8">
    <li>
      <a
        href="#"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-dashboard-line"></i>پیشخوان</a
      >
    </li>
    <li>
      <a
        href="/dashboard/questions"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-database-line"></i>بانک سوالات</a
      >
    </li>
    <li>
      <a
        href="#"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-bar-chart-2-line"></i>بیک پیکچر - هوش مصنوعی</a
      >
    </li>
    <li>
      <a
        href="/dashboard/responses"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-chat-1-line"></i>مدیریت پاسخ‌ها</a
      >
    </li>
    <li>
      <a
        href="/dashboard/groups"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-group-2-line"></i>مدیریت گروه‌ها</a
      >
    </li>
    <li>
      <a
        href="/dashboard/subGroups"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-user-community-line"></i>مدیریت زیرگروه‌ها</a
      >
    </li>
    <li>
      <a
        href="/dashboard/users"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-group-line"></i>مدیریت کاربران</a
      >
    </li>
    <li>
      <a
        href="/dashboard/profile"
        class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
        ><i class="ri-user-settings-line"></i>جزئیات حساب کاربری</a
      >
    </li>
    <li>
      <a
        href="/auth/logout"
        class="w-full flex gap-4 text-[16px] text-error transition-colors items-center text-404040"
        ><i class="ri-logout-box-line"></i>خروج از حساب کاربری</a
      >
    </li>
  </ul>
</aside>
