<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <%- include("../../partials/head") %>

  <body class="bg-primaryBackground">
    <div class="flex flex-col lg:flex-row min-h-screen">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar') %>
      
      <!-- Main Content -->
      <main class="flex-1 p-4 lg:p-6">
        <header
          class="w-full flex items-center justify-between flex-wrap gap-2"
        >
          <h2 class="font-bold text-202020 text-lg lg:text-xl">
            زیرگروه‌های ثبت شده
          </h2>
          <a
            href="#"
            class="h-10 px-4 lg:h-12 lg:px-6 bg-primary text-white flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            ><i class="ri-add-line"></i
            ><span class="hidden sm:inline">ثبت زیرگروه جدید</span></a
          >
        </header>

        <!-- Search Form
        <form
          action="#"
          class="w-full rounded-lg mt-8 flex flex-col gap-4 items-center justify-end"
        >
          <input
            class="w-full h-10 lg:h-12 border rounded-lg border-CBCBCB text-606060 bg-white focus:ring-2 focus:ring-primary text-right outline-none px-4"
            type="text"
            name=""
            id=""
            placeholder="جست و جو بین 1،000 سوال طرح شده"
          />

          <div class="w-full flex flex-col sm:flex-row gap-2">
            <select
              name="group"
              class="w-full sm:w-auto border rounded-lg border-CBCBCB text-606060 bg-white focus:ring-2 focus:ring-primary outline-none"
            >
              <option value="group">گروه</option>
              <option value="group">شبکه</option>
              <option value="group">نرم افزار</option>
              <option value="group">سخت افزار</option>
              <option value="group">برنامه نویسی</option>
            </select>

            <select
              name="subGroup"
              class="w-full sm:w-auto border rounded-lg border-CBCBCB text-606060 bg-white focus:ring-2 focus:ring-primary outline-none"
            >
              <option value="group">زیرگروه</option>
              <option value="group">شبکه</option>
              <option value="group">نرم افزار</option>
              <option value="group">سخت افزار</option>
              <option value="group">برنامه نویسی</option>
            </select>

            <button
              type="submit"
              class="md:w-[150px] h-12 sm:w-full lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-primary text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              <i class="ri-search-line"></i>
              جست و جو
            </button>
          </div>
        </form> -->

        <!-- Sub Group Boxes -->
        <div
          class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
        >
          <!-- Sub Group Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-2"
          >
            <!-- Sub Group Name -->
            <p class="flex items-center gap-1 text-404040">
              نام زیرگروه: <span class="text-primary">امنیت سایبری</span>
            </p>

            <!-- Group name -->
            <p class="flex items-center gap-1 text-404040">
              نام گروه: <span class="text-primary">شبکه</span>
            </p>

            <!-- Sub Group actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >
            </div>
          </div>

          <!-- Sub Group Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-2"
          >
            <!-- Sub Group Name -->
            <p class="flex items-center gap-1 text-404040">
              نام زیرگروه: <span class="text-primary">امنیت سایبری</span>
            </p>

            <!-- Group name -->
            <p class="flex items-center gap-1 text-404040">
              نام گروه: <span class="text-primary">شبکه</span>
            </p>

            <!-- Sub Group actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >
            </div>
          </div>

          <!-- Sub Group Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-2"
          >
            <!-- Sub Group Name -->
            <p class="flex items-center gap-1 text-404040">
              نام زیرگروه: <span class="text-primary">امنیت سایبری</span>
            </p>

            <!-- Group name -->
            <p class="flex items-center gap-1 text-404040">
              نام گروه: <span class="text-primary">شبکه</span>
            </p>

            <!-- Sub Group actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >
            </div>
          </div>

          <!-- Sub Group Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-2"
          >
            <!-- Sub Group Name -->
            <p class="flex items-center gap-1 text-404040">
              نام زیرگروه: <span class="text-primary">امنیت سایبری</span>
            </p>

            <!-- Group name -->
            <p class="flex items-center gap-1 text-404040">
              نام گروه: <span class="text-primary">شبکه</span>
            </p>

            <!-- Sub Group actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >
            </div>
          </div>

          <!-- Sub Group Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-2"
          >
            <!-- Sub Group Name -->
            <p class="flex items-center gap-1 text-404040">
              نام زیرگروه: <span class="text-primary">امنیت سایبری</span>
            </p>

            <!-- Group name -->
            <p class="flex items-center gap-1 text-404040">
              نام گروه: <span class="text-primary">شبکه</span>
            </p>

            <!-- Sub Group actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
                >ویرایش زیرگروه</a
              >
            </div>
          </div>
        </div>

        <!-- <footer
          class="w-full flex items-center justify-center flex-wrap gap-4 mt-8"
        >
          <a href="#" class="text-404040">بعدی</a>
          <a href="#" class="underline text-primary">1</a>
          <a href="#" class="underline">2</a>
          <a href="#" class="underline">3</a>
          <a href="#" class="underline">4</a>
          <a href="#" class="underline">5</a>
          <a href="#" class="text-404040">قبلی</a>
        </footer> -->
      </main>
    </div>
  </body>
</html>
