<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <%- include("./partials/head") %>

  <body class="bg-primaryBackground">
    <div class="flex flex-col lg:flex-row min-h-screen">
      <!-- Sidebar -->
      <aside
        class="w-full lg:w-64 bg-white p-4 shadow-lg flex flex-col items-center lg:block transition-all duration-300 ease-in-out"
      >
        <div
          class="w-full text-sm font-bold text-center flex flex-col gap-2 items-center"
        >
          <div>
            <p class="text-202020">خوش آمدید</p>
            <span class="text-xs text-primary"
              >samanjoodakiofficial@gmail.com</span
            >
          </div>
          <div class="w-min break-words p-1 bg-primary text-white rounded-lg">
            کاربر
          </div>
        </div>

        <!-- Navigation Links -->
        <ul class="space-y-4 flex flex-col gap-2 mt-8">
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-dashboard-line"></i>پیشخوان</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-database-line"></i>بانک سوالات</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-bar-chart-2-line"></i>بیک پیکچر - هوش مصنوعی</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-chat-1-line"></i>مدیریت پاسخ‌ها</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-user-2-line"></i>مدیریت گروه‌ها</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-user-community-line"></i>مدیریت زیرگروه‌ها</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-user-line"></i>مدیریت کاربران</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] hover:text-primary transition-colors items-center text-404040"
              ><i class="ri-user-settings-line"></i>جزئیات حساب کاربری</a
            >
          </li>
          <li>
            <a
              href="#"
              class="w-full flex gap-4 text-[16px] text-error transition-colors items-center text-404040"
              ><i class="ri-logout-box-line"></i>خروج از حساب کاربری</a
            >
          </li>
        </ul>
      </aside>

      <!-- Main Content -->
      <main class="flex-1 p-4 lg:p-6">
        <header
          class="w-full flex items-center justify-between flex-wrap gap-2"
        >
          <h2 class="font-bold text-202020 text-lg lg:text-xl">
            کاربران ثبت شده
          </h2>
          <a
            href="#"
            class="h-10 px-4 lg:h-12 lg:px-6 bg-primary text-white flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            ><i class="ri-add-line"></i
            ><span class="hidden sm:inline">ثبت کاربر جدید</span></a
          >
        </header>

        <!-- Search form -->
        <form
          action="#"
          class="w-full rounded-lg mt-8 flex flex-col gap-4 items-center justify-end"
        >
          <input
            class="w-full h-10 lg:h-12 border rounded-lg border-CBCBCB text-606060 bg-white focus:ring-2 focus:ring-primary text-right outline-none px-4"
            type="text"
            name=""
            id=""
            placeholder="جست و جو بین 10،000 کاربر ثبت نام شده"
          />

          <div class="w-full flex flex-col sm:flex-row gap-2">
            <select
              name="role"
              class="w-full sm:w-auto border rounded-lg border-CBCBCB text-606060 bg-white focus:ring-2 focus:ring-primary outline-none"
            >
              <option value="user">نقش کاربر</option>
              <option value="user">کاربر</option>
              <option value="user">ادمین</option>
            </select>

            <button
              type="submit"
              class="md:w-[150px] h-12 sm:w-full lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-primary text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              <i class="ri-search-line"></i>
              جست و جو
            </button>
          </div>
        </form>

        <!-- users boxes -->
        <div
          class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
        >
          <!-- user Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-4"
          >
            <!-- user details -->
            <p class="flex items-center gap-1 text-404040">
              ایمیل کاربر:
              <span class="text-primary">samanjoodakiofficial</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              نقش کاربر: <span class="text-primary">ادمین</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ ثبت نام: <span class="text-primary">1403-03-26</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد پاسخ ثبت شده: <span class="text-primary">10،000</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد سوالات ثبت شده: <span class="text-primary">200</span>
            </p>

            <!-- user actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                ویرایش کاربر
              </a>

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                حذف کاربر
              </a>
            </div>
          </div>

          <!-- user Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-4"
          >
            <!-- user details -->
            <p class="flex items-center gap-1 text-404040">
              ایمیل کاربر:
              <span class="text-primary">samanjoodakiofficial</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              نقش کاربر: <span class="text-primary">ادمین</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ ثبت نام: <span class="text-primary">1403-03-26</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد پاسخ ثبت شده: <span class="text-primary">10،000</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد سوالات ثبت شده: <span class="text-primary">200</span>
            </p>

            <!-- user actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                ویرایش کاربر
              </a>

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                حذف کاربر
              </a>
            </div>
          </div>

          <!-- user Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-4"
          >
            <!-- user details -->
            <p class="flex items-center gap-1 text-404040">
              ایمیل کاربر:
              <span class="text-primary">samanjoodakiofficial</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              نقش کاربر: <span class="text-primary">ادمین</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ ثبت نام: <span class="text-primary">1403-03-26</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد پاسخ ثبت شده: <span class="text-primary">10،000</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد سوالات ثبت شده: <span class="text-primary">200</span>
            </p>

            <!-- user actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                ویرایش کاربر
              </a>

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                حذف کاربر
              </a>
            </div>
          </div>

          <!-- user Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-4"
          >
            <!-- user details -->
            <p class="flex items-center gap-1 text-404040">
              ایمیل کاربر:
              <span class="text-primary">samanjoodakiofficial</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              نقش کاربر: <span class="text-primary">ادمین</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ ثبت نام: <span class="text-primary">1403-03-26</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد پاسخ ثبت شده: <span class="text-primary">10،000</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد سوالات ثبت شده: <span class="text-primary">200</span>
            </p>

            <!-- user actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                ویرایش کاربر
              </a>

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                حذف کاربر
              </a>
            </div>
          </div>

          <!-- user Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-4"
          >
            <!-- user details -->
            <p class="flex items-center gap-1 text-404040">
              ایمیل کاربر:
              <span class="text-primary">samanjoodakiofficial</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              نقش کاربر: <span class="text-primary">ادمین</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ ثبت نام: <span class="text-primary">1403-03-26</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد پاسخ ثبت شده: <span class="text-primary">10،000</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد سوالات ثبت شده: <span class="text-primary">200</span>
            </p>

            <!-- user actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                ویرایش کاربر
              </a>

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                حذف کاربر
              </a>
            </div>
          </div>

          <!-- user Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-4"
          >
            <!-- user details -->
            <p class="flex items-center gap-1 text-404040">
              ایمیل کاربر:
              <span class="text-primary">samanjoodakiofficial</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              نقش کاربر: <span class="text-primary">ادمین</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ ثبت نام: <span class="text-primary">1403-03-26</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد پاسخ ثبت شده: <span class="text-primary">10،000</span>
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد سوالات ثبت شده: <span class="text-primary">200</span>
            </p>

            <!-- user actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                ویرایش کاربر
              </a>

              <a
                href="#"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                حذف کاربر
              </a>
            </div>
          </div>
        </div>

        <footer
          class="w-full flex items-center justify-center flex-wrap gap-4 mt-8"
        >
          <a href="#" class="text-404040">بعدی</a>
          <a href="#" class="underline text-primary">1</a>
          <a href="#" class="underline">2</a>
          <a href="#" class="underline">3</a>
          <a href="#" class="underline">4</a>
          <a href="#" class="underline">5</a>
          <a href="#" class="text-404040">قبلی</a>
        </footer>
      </main>
    </div>
  </body>
</html>
