<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <%- include("../../partials/head") %>

  <body class="bg-primaryBackground">
    <div class="flex flex-col lg:flex-row min-h-screen">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar) %>

      <!-- Main Content -->
      <main class="flex-1 p-4 lg:p-6">
        <header
          class="w-full flex items-center justify-between flex-wrap gap-2"
        >
          <h2 class="font-bold text-202020 text-lg lg:text-xl">
            اضافه کردن پاسخ جدید توسط
            <p>کاربر</p>
            <p class="text-primary">saman22@gmail.com</p>
          </h2>
        </header>

        <form
          action="#"
          class="w-full min-h-[400px] bg-white rounded-lg p-4 mt-8 shadow-lg flex flex-col gap-4 justify-start"
        >
          <h2 class="font-bold text-lg text-202020">پاسخ جدید</h2>

          <!-- Errors -->
          <div
            class="w-full min-h-8 rounded-lg bg-error-light-1 text-error text-sm flex items-center p-4 gap-1"
          >
            <i class="ri-error-warning-line"></i>
            ایمیل نامعتبر
          </div>

          <div class="flex flex-col gap-4">
            <div class="bg-slate-400 rounded-lg p-4">
              <p>
                به نظر شما سطح امنیت شبکه سازمان چقدر است؟ (عدد بین 0 تا 100) به
                نظر شما سطح امنیت شبکه سازمان چقدر است؟
              </p>
            </div>

            <div class="bg-slate-300 rounded-lg p-4">
              <div class="flex items-center gap-2">
                <span class="font-bold">گروه:</span>
                <p class="text-primary">امنیت</p>
              </div>

              <div class="flex items-center gap-2">
                <span class="font-bold">زیرگروه:</span>
                <p class="text-primary">امنیت سایبری</p>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <label for="answer" class="text-sm">پاسخ شما</label>
              <input
                type="number"
                class="w-full sm:w-28 h-12 border rounded-lg border-CBCBCB text-606060 bg-primaryBackground focus:ring-2 focus:ring-primary text-center outline-none px-4"
                placeholder="0 - 100"
                min="0"
                max="100"
                id="answer"
              />
              <span class="text-warning text-sm">0 نشانه خیر است</span>
            </div>

            <div class="flex flex-col gap-2">
              <label for="description" class="text-sm">توضیحات شما</label>
              <textarea
                class="w-full min-h-20 border rounded-lg border-CBCBCB text-606060 bg-primaryBackground focus:ring-2 focus:ring-primary text-right outline-none p-4"
                placeholder="توضیحات شما"
                id="description"
              ></textarea>
            </div>

            <div class="flex flex-col gap-2">
              <label for="documents" class="text-sm">آپلود مستندات</label>
              <input type="file" name="file" id="documents" class="hidden" />
              <div
                class="w-14 h-14 flex items-center justify-center cursor-pointer rounded-lg border-CBCBCB text-606060 bg-primaryBackground"
              >
                <i class="ri-upload-line"></i>
              </div>
            </div>
          </div>

          <div
            class="w-full flex flex-col sm:flex-row items-center gap-4 sm:gap-2"
          >
            <button
              type="submit"
              class="w-full sm:w-1/2 h-12 px-6 bg-primary text-white flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              ثبت پاسخ
            </button>
            <button
              type="button"
              class="w-full sm:w-1/2 h-12 px-6 bg-disabledButton text-606060 flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              لغو فرایند
            </button>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
